.fluid {
  max-width: 500px;
  margin: 0 auto;
  padding: /* 10px*/ 1em; /*we can use 1em -because it is relative unit*/
}

h1{
    font-size: 64px;
    text-align: center;
    font-weight: normal;
    padding:0px 60px;
    line-height: 0.8;
}
@media (max-width:500px){
    h1{
        font-size: 36px;
        font-weight: bold;
        margin-top:15px;
    }

}